

html { 
    background: url(images/woman-black.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px; 
    font-family: 'Open Sans', sans-serif;  
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.square {
    margin: 0 auto;
    background: white;
    height: 528px;
    width: 29%;
    display: block;
    margin-top: 0px;
}

ol {
    width: 100%;
    /*width: 800px;*/
    display: table;
    table-layout: fixed; /* the magic dust that ensures equal width */
    background: white;
    padding-left: 0px;
    height:100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
ol > li {
    display: block;
    border: 1px solid black;
    border-top:none;
    height: 12.5%;
}

.login {
    display: -webkit-flex;
    float: left;
    height: 100%;
    width:50%;  
}

.register {
    display: -webkit-flex;
    float: right;  
    height: 100%;
    width:50%;   
}

input[type="submit"] {
    background:white;   
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

  
} 

input[type="submit"][value="I'm already a client"] {
    border-top-width:4px;
    border-left-width:4px;
    padding-left: 76px;
    padding-right: 76px;
    border-bottom-width:0px;
    border-bottom:none;
}

input[type="submit"][value="I'm new here"] {
    border-top-width:1px;
    border-right-width:4px;
    border-left-width:4px;
    border-bottom-width:4px;
    border-bottom-color:black;
    display:flex;
    justify-content: center;
    padding-left: 83px;
    padding-right: 83px;
}

input[type="email"] {
    margin:0px;
    display: -webkit-flex;
    float: right;  
    width:94%;
    height:100%;
    border-bottom-color: black;
    border-bottom-width: 0px;
    border-top-width:0px;
    border-right-width:0px;
    border-left-width:0px;
    padding-top: 38px;
    padding-bottom: 3px;
    border-top:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

input[type="password"] {
    margin:0px;
    display: -webkit-flex;
    float: right;  
    width:94%;
    height:100%;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-top-width:0px;
    border-right-width:0px;
    border-left-width:0px;
    border-bottom-width: 0px;
    padding-top: 38px;
    padding-bottom: 3px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


p{
    display:inline;
    padding-left: 240px;
    padding-right: 15px;
    margin-top:22px;  
    text-align: center;
    display: flex; 
    justify-content: center;
}

.forgot-password{
    color: dodgerblue;
    text-decoration: underline;
    }




.agree{
    display: flex; 
    justify-content: center;
    margin-top:22px;  
    padding-left:6px;  
}
.remember {
    height: 100%;
    padding-left: 7px;
    padding-right: 0px;
    display:inline;

    align-items: flex-start;
    display: flex; 
    justify-content: center;
}

input[type="checkbox"] {
    margin-top:27px;   
}

input[type="submit"][value="Login"] {
    height:100%;
    width:100%;  
    border-top-width:0px;
    border-left-width:4px;
    padding-left: 76px;
    padding-right: 76px;
    border-bottom-width:0px;
    border-bottom:none;
    color:white;
    background-color: black;
    padding-bottom: 22px;
    padding-top: 22px;

}

.choice{
    display: flex; 
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;   
    padding-top: 22px;
    margin-top: 0px;
}

li.social-media{
   display: -webkit-flex; 
    -webkit-align-items: center; 

}

.facebook{
  height: 68px;
  border: 0px;
  padding: 0px;
  width: 205px;
  background: #3B5998;
  color:white;
}

.facebook img {
    height: 100%;
    width: initial;
    margin: 0 auto;
    padding-top: 7px;
    height: 50px;
}

.google {
  height: 68px;
  border: 0px;
  padding: 0px;
  width: 205px;
  background: #CD3E2D;
  color:white;
}
.google img {
    height: 100%;
    width: initial;
    margin: 0 auto;
    padding-top: 7px;
    height: 50px;
}
.twitter {
  height: 68px;
  border: 0px;
  padding: 0px;
  width: 206px;
  background: #359CD6;
  color:white;
}

.twitter img {
    height: 100%;
    width: initial;
    margin: 0 auto;
    padding-top: 7px;
    height: 50px;
}

.choice2 {
    display: flex; 
    justify-content: center;
    padding-top: 20px;
}

h7{
    color:dodgerblue;
    padding-left:5px;
    text-decoration: underline;
}